
*.json
*.h5
*.hdf5
.DS_Store

data/*/
implementations/*/data
implementations/*/images
implementations/*/saved_models

.idea/
implementations/*/lightning_images
implementations/*/lightning_logs
implementations/*/MNIST

__pycache__
